<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
                        <integer>500</integer>
                        <key>HP</key>
                        <integer>20000</integer>
                        <key>WalkingSpeed</key>
                        <double>2.5</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1500</integer>
                        <key>HP</key>
                        <integer>20000</integer>
                        <key>WalkingSpeed</key>
                        <double>2.5</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>2000</integer>
                        <key>HP</key>
                        <integer>60000</integer>
                        <key>WalkingSpeed</key>
                        <double>1.0</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>2500</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>3000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>3500</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>4000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
        </array>
	<array>
		<dict> 
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>1000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>2000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>3000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>1000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>2000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>3000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>4000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
		<dict>
			<key>data</key>
			<string></string>
			<key>spawnTime</key>
			<integer>5000</integer>
                        <key>HP</key>
                        <integer>100000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
		</dict>
	</array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <interger>1000</interger>
                        <key>HP</key>
                        <integer>500000</integer>
                        <key>WalkingSpeed</key>
                        <double>0.7</double>
                        <key>address</key>
                        <string>:/image/enemy.png</string>
                </dict>
        </array>
</array>
</plist>
